:root {
    --main-color: rgba(114, 56, 185, 0.973);
}



.main{
    background-color: rgba(11, 8, 14, 0.986);
;
   
}


.navbar-brand {
    font-family: 'Roboto Serif', serif; /* Override font-family for navbar-brand */
    color: var(--main-color);
    margin-top: 60px;
    font-weight: 900;
}



.brand-main-screen{
    font-size: 80px;
    font-weight: 700;
}

#score-display{
    font-size: 100%;
    font-weight: 900;
   color:#cc3de9;
   background-color: #27272f87;
   padding: 20px;
   border-radius: 20px;
   margin: 10px;
}

#lose-text{
    color: #ea3b4d;
}

#win-text{
    color: #3ae09e;

}
footer{
    color: rgba(107, 107, 183, 0.708);
    background-color: #20203fee;
    padding: 30px;
}

footer a {
    color: var(--main-color);

}

.home-btn{
    background-color: none;
    color: var(--main-color);
    border-style: solid;
    border-color: var(--main-color);
    padding: 30px;
}

.home-btn-group{
    padding-top: 100px;
    font-family: "Roboto Mono";
    font-weight: 400;
}

#GameMode{
    font-family: "Roboto Mono";
    font-weight: 400;
    color: var(--main-color);

}

.scoreboard{
    border-color: var(--main-color);
    border-bottom: 5px solid var(--main-color);
    color: rgb(136, 131, 212);

}

.score-text{
    padding: 10px;
   
}

.card{
    color: var(--main-color);
    transition: 1s;
    border-radius: 20px;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 10px 5px rgba(186, 113, 113, 0.252);
    margin: 10px;

}

.card-score{
    color: rgb(142, 225, 117);
    font-size: 200%;
    font-weight: 900;
    padding-bottom: 20px;


}

.img-flex{
    padding:20px;
}

.helper-text{
    margin-top: 10%;
    color: #3f3e3e;
}

#score, #target, #win, #lose{
    font-size: 150%;
    font-weight: 900;
  
    
}
/* Hover functionality Section*/

#nav-brand:hover{
    color: #6e6ef0;
    cursor: pointer;
    transition: .0s;
    transform: none;
}

.home-btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.card:hover{
    cursor: pointer;
  
    
}

/* Screen size adjustment*/

#modal{
    background-color: #3d3d95;
}
@media (max-width: 1490px ) {
    .brand-main-screen{
        font-size: 50px;
    }


}

/* Phone Screen */

@media (max-width: 990px ) {
    .card-title{
        font-size: 10px;
    }
    .brand-main-screen{
        font-size: 30px;
    }

    .card-title{
        font-size: 70%
    }

   

    .scoreboard h4{
        font-size: 80%;
    }

    footer{
        margin-top: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .home-btn:hover {
        background-color: #0b090b;
        color: #ae41d6;
        border-color: #ae41d6;
    }
    
    .card:hover {
        color: #7d0feb;
        font-size: 120%;
        transform: translateY(-30px);
    }
}

@media screen and ( max-width:480px) {
    #score-display{
        font-size: 100%;
        padding-top: 0;
    }

    .score-text{
        padding: 0;
    }
    
}