:root {
    --main-color: #845edde0;
}


.main{
    background-color: black;
    
   
}


.navbar-brand {
    font-family: 'Roboto Serif', serif; /* Override font-family for navbar-brand */
    color: var(--main-color);
    margin-top: 60px;
    font-weight: 900;
}


.brand-main-screen{
    font-size: 80px;
    font-weight: 700;
}


footer{
    color: rgba(121, 121, 117, 0.673);
    background-color: #6060e148;
    padding: 30px;
}

.home-btn{
    background-color: none;
    color: var(--main-color);
    border-style: solid;
    border-color: var(--main-color);
    padding: 30px;
}

.home-btn-group{
    padding-top: 100px;
    font-family: "Roboto Mono";
    font-weight: 400;
}

#GameMode{
    font-family: "Roboto Mono";
    font-weight: 400;
    color: var(--main-color);

}

.scoreboard{
    border-color: var(--main-color);
    border-width: 10px;
    border-style: solid;
    border-radius: 50px;
}

.card{
    color: var(--main-color);
    transition: 1s;
}
/* Hover functionality Section*/
.navbar-brand:hover{
    color: #5050a9;
}

.home-btn:hover {
    background-color: #5050a9;
    box-shadow: 1px 3px 20px 3px #3d3d95;
}

.card:hover {
    color: #e70d0d;
    font-size: 120%;
    transform: scale(1.1);
}
/* Screen size adjustment*/

@media (max-width: 1490px ) {
    .brand-main-screen{
        font-size: 50px;
    }

    .scoreboard{
        border-width: 5px;
        font-size: 100%;
    }
}